body {
    font-family: 'Poppins', sans-serif;
    background-color: hsl(0, 0%, 98%);
}

.header {
    display: flex;
    justify-content: center;
}
.header__container {
    margin-top: 8vh;
    text-align: center;
}