body {
    font-family: 'Poppins', sans-serif;
    background-color: hsl(0, 0%, 98%);
}

.header {
    display: flex;
    justify-content: center;
}
.header__container {
    margin-top: 8vh;
    text-align: center;
}
.card__container {
    margin-top: 10vh;
    display:flex;
    align-items: center;
    justify-content: center;
}
.card {
    color: hsl(234, 12%, 34%);
    border: gray solid 1px;
    background-color: white;
    width: 300px;
    margin: 10px;
    padding: 15px;
}
.card p {
    font-size: 15px;
    font-weight: 200;
    color: hsl(229, 6%, 66%);
}

footer {
    margin-top: 10vh;
}