body {
    font-family: 'Poppins', sans-serif;
    background-color: hsl(0, 0%, 98%);
}

.header {
    display: flex;
    justify-content: center;
}
.header__container {
    margin-top: 8vh;
    text-align: center;
}
.card__container {
    margin-top: 10vh;
    display:flex;
}
.card {
    border: gray solid 1px;
}
.card p {
    font-size: 15px;
    font-weight: 200;
}